# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
*.egg-info/
dist/
build/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи и данные
*.log
*.db
*.sqlite3
*.cache
.DS_Store

# Временные файлы
tmp/
temp/
